# Ignore environment variables file
.env
./clean_history.sh
# Ignore files containing sensitive information
Default.xaml
Gmail_Email_Fetch_Extract/Default.xaml

# Ignore Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Ignore build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Ignore NuGet packages
*.nupkg
**/packages/*
!**/packages/build/

# Ignore ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Ignore other common files
*.log
*.tmp
*.temp